nav{
  display: flex;
  background-color: var(--azul);
  margin: 0;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  color: #eeeeee;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav p{
  font-size: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sin-album{
  font-size: 4rem;
  margin: 4rem auto;
  text-align: center;
}

#agregar{
  cursor: pointer;
  transition: all 0.2s;
}

#sub-menu{
  cursor: pointer;
}

.off-canvas{
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s;
  padding: 5px;
  
  border-radius: 2rem;
}

.off-canvas:hover{
  background-color: #C2403E;
  color:white
}
