#all-display{
  margin: 5rem auto;
  width: 100%;
  overflow-y: hidden;
}


/*BIG DISPLAY*/
#album-big-display{
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 2rem auto;
  width: 80%;
  gap: 10px;
}

#album-big-display .imagen{
  width: 100%;
}

#album-info p{
  margin: 0;
  overflow: hidden;
  font-size: 1.5rem;
  text-overflow:ellipsis;
}

#album-info .nombre{
  font-size: 3rem;
  line-height: 3rem;
  height: 6.5rem;
}

#album-info .artista span{
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 700;
}

#album-info .artista span:hover{
  font-weight: normal;
  color: var(--verde);
  font-size: 2rem;
  text-decoration-line:underline;
}

#album-info .spotify-link{
  font-size: 1.5rem;
  margin-top: 10px;
}

#album-info .boton.r{
  font-size: 2rem;
  padding: auto;
  aspect-ratio: 1/1;
  float: right;
}

/*Little display*/
#little-display{
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  overflow-y: scroll;
}

.album-little-display{
  width: 100%;
  transition: all 0.3s;
}

.album-little-display:hover{
  transform: translate(-5px,-5px);
  box-shadow: rgb(26, 26, 26) 5px 5px;
}

.album-little-display:active{
  transform: translate(0,0);
  box-shadow: none;
}

#little-display .boton{
  grid-column: 1/4;
  
}

.change-view{
  margin: 10px auto;
  width: 50%;
  font-size: 2rem;
}

@media screen and (min-width:750px) {
  #all-display{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 90%;
  }
  #all-display .change-view{
    grid-column: 1/3;
    grid-row: 1;
  }
  #little-display{
    max-height: 65vh;
  }
  #album-big-display{
    margin: auto;
    grid-template-columns: 60% auto;
  }
  #album-info .r{
    position: absolute;
    left: 0;
    border: solid white;
  }
  #album-info .nombre{
    height: 9.5rem;
  }
  #album-info .artista{
    height: 4rem;
  }
  #album-info .spotify-link{
    float:inline-end;
  }
}
