footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0;
  color: white;
  background-color: var(--azul);
  width: 100%;
  position: fixed;
}

footer p{
  margin: 10px;
  font-size: 1.5rem;
}

footer a{
  color: white;
}

footer a:hover{
  text-decoration-line: underline;
  color: white;
}